[container] {
  width: 95%;
}
@media (min-width: 48em) {
  [container] {
    width: 900px;
  }
}

.siteHeader {
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 22px;
}

.nav-action {
  margin-top: 20px;
  text-align: right;
}


.siteContent {
  padding: 30px 0 150px;
}

.siteFooter {
  border-top: 1px solid #eee;
  font-size: .875em;
  padding-top: 15px;
}

.done {
  text-decoration: line-through;
}

@font-face {
    font-family: 'icons';
    src: url('./icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    color: #38393A;
}

.icon-white:before { color: white; }
.icon-user:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-home:before { content: '\e802'; }
.icon-location:before { content: '\e803'; }
.icon-calendar:before { content: '\e804'; }
.icon-globe:before { content: '\e805'; }
.icon-check:before { content: '\e806'; }
.icon-mail:before { content: '\e807'; }
.icon-github:before { content: '\e808'; }
.icon-graduation:before { content: '\e809'; }
.icon-linkedin:before { content: '\e80a'; }
.icon-laptop:before { content: '\e80b'; }
.icon-menu:before { content: '\e80c'; }
.icon-beaker:before { content: '\e80d'; }
.icon-right-open:before { content: '\e80e'; }
.icon-sort:before { content: '\e80f'; }
.icon-trash-empty:before { content: '\e810'; } 
